body{
    margin:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.country{
    fill: #009432;
    stroke: #0652DD;
    stroke-width: 0.1px;
}
.country:hover{
    fill:#EA2027;
}
.sphere{
    fill: #273c75;
}
html{
    background: #130f40;
}